.container {
  max-width: 120rem;

  margin: 8rem auto;
  background-color: $color-grey-light-1;
  box-shadow: 0 3rem 6rem rgba($color: #000000, $alpha: 0.4);
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid $color-grey-light-2;
  font-size: 1.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center; /* Center in cross axis */
}

.content {
  display: flex;
}

.sidebar {
  background-color: $color-grey-dark-1;
  flex: 0 0 18%; /* 0 - Dont grow if there is space | 0 - Dont shrink if there is no space | 18% - Take 18% of content width */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  flex: 1; /* Grow as mach as you can */
}

.detail {
  display: flex;

  padding: 4.5rem;

  font-size: 1.4rem;

  background-color: $color-grey-light-1;
  border-bottom: 1px solid $color-grey-light-2;
}

.description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  font-size: 1.4rem;
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  .list {
    display: flex;
    flex-wrap: wrap;

    list-style: none;

    padding: 3rem 0;
    margin: 2rem 0;

    border-top: 1px solid $color-grey-light-2;
    border-bottom: 1px solid $color-grey-light-2;

    &__item {
      flex: 0 0 50%;
      margin-bottom: 0.7rem;

      &::before {
        content: "";
        display: inline-block;

        width: 1rem;
        height: 1rem;

        margin-right: 7px;

        // Older browser
        //background-image: url("../../img/chevron-thin-right.svg");
        //background-size: cover;

        // Newer browsers
        background-color: $color-primary;
        mask-image: url("../../img/chevron-thin-right.svg");
        mask-size: cover;
        -webkit-mask-image: url("../../img/chevron-thin-right.svg");
        -webkit-mask-size: cover;
      }
    }
  }

  .recommend {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1.3rem;
    color: $color-grey-light-3;

    &__count {
      color: $color-grey-dark-2;
    }

    &__photo {
      box-sizing: content-box;
      height: 4rem;
      width: 4rem;
      border: 2px solid #fff;
      border-radius: 100px;

      margin-left: -1.5rem;
    }

    &__friends {
      display: flex;
      align-items: center;
    }
  }
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta {
  padding: 3.5rem 0;
  text-align: center;

  &__book-now {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;

    margin-bottom: 2.5rem;
  }

  &__btn {
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    border: none;
    border-radius: 100px;

    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );

    overflow: hidden;

    &--visible {
      display: inline-block;
      padding: 2rem 7.5rem;
      transition: all 0.2s;
    }

    &--invisible {
      display: inline-block;
      position: absolute;

      height: 100%;
      width: 100%;
      padding: 2rem 0;
      left: 0;
      top: -100%;
      transition: all 0.2s;
    }

    &:hover {
      background-image: linear-gradient(
        to right,
        $color-primary-dark,
        $color-primary-light
      );

      animation: pulsate 1s infinite;
    }

    &:hover &--visible {
      transform: translateY(100%);
    }

    &:hover &--invisible {
      top: 0;
    }
  }
}
